h1{
  color:pink;
  background-color: grey;
}
h2{
  color:grey;
  background-color: pink;
}
h3{
  color:pink;
  background-color: grey;
}
h4{
  color:grey;
  background-color: pink;
}
#turngrey{
  color:grey;
}
.turngrey{
  color:grey;
  background-color: pink;
}
.turnpink{
  color:pink;
}
a{
  color:red;
}
a:visited{
  color:green;
}
a:hover{
  color:yellow;
}
#divwhite{
  color: white;
  background-color: grey;
}
