h1{
  color:white;
  background-color: lavender;
}
h2{
  color:blue;
}
a{
  color:green;
}
a:hover{
  color:red;
}
#turnyellow{
  color:yellow;
}
h3{
  color:black;
  background-color: yellow;
}
#turnred{
  color:red;
}
h4{
  color:green;
  background-color: :yellow;
}
#divgreen{
  background-color: green;
}
h5{
  color:red;
  background-color: yellow;
}
#yellowback{
  background-color: yellow;
}
